<h1>Listing stations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>Url</th>
    <th>Name</th>
  </tr>

<% @stations.each do |station| %>
  <tr>
    <td><%=link_to "play", "javascript:get_radio().sndPlay('#{station.streamable_url};')"%></td>
    <td><%=link_to "stop", "javascript:get_radio().sndStop()"%></td>
    <td><%= station.url %></td>
    <td><%= station.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Station', new_station_path %>

<div>
	<script>
		function get_radio(){
			return document.getElementById('player');
		}
	</script>
	<div>
		<embed src="irp.swf" width="1" height="1" id="player" wmode="transparent" ></embed>
	</div>
</div>
