<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @station.url %>
</p>

<p>
  <b>Name:</b>
  <%= @station.name %>
</p>


<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
