<h2>Search Results</h2>

<table>
  <tr>
	<th></th>
	<th></th>
	<th>Station</th>
 	<th>Song title</th>
    <th>Artist</th>
    <th>Start Time</th>
  </tr>

<% @plays.each do |play| %>
  <tr>
	<td><%=link_to "play", "javascript:get_radio().sndPlay('#{play.station.streamable_url};')"%></td>
	<td><%=link_to "stop", "javascript:get_radio().sndStop()"%></td>
	<td><%= play.station.name%></td>
	<td><%= play.song_title %></td>
	<td><%= play.artist %></td>
    <td><%= time_ago_in_words(play.started_at)%> ago</td>
  </tr>
<% end %>
</table>

<div>
	<script>
		function get_radio(){
			return document.getElementById('player');
		}
	</script>
	<div>
		<embed src="irp.swf" width="1" height="1" id="player" wmode="transparent" ></embed>
	</div>
</div>
