<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'radiogeni.us' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "/bootstrap/css/bootstrap.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="msvalidate.01" content="92B11D6D459C78688E9641F761D6C362" />
</head>
<body>
  <div class="container wrapper">
    <div class="row"><div class="span12">
      <%= render :partial=> "layouts/header"%>

      <%= yield %>

    </div></div>
    <div class="push"></div>
  </div>

  <div class="footer">
  <div class="container">
    <div class="row"><div class="span12">
      <%= render :partial=> "layouts/footer"%>
    </div></div>
  </div></div>
</body>
</html>
